footer {
    position: relative;
    margin-top: auto;
    min-height: 64px;
    width: 100%;
    padding: 0 var(--edge-x);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F5F1;
    z-index: 5;
}

.footer-text {
    font-family: var(--paragraph_font-family);
    font-size: 1rem;
    font-weight: var(--paragraph_font-weight);
}

@media screen and (max-width: 600px) {
    .footer-text {
        font-size: .7rem;
    }
}